<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><%= result[0].username %></p>
    <a href="/homepage?username=<%= result[0].username %>">Home Page</a>
    <a href="/Profilepath?username=<%= result[0].username %>">View Profile</a>
    <a href="/changePass?username=<%= result[0].username %>">Change Password</a>
    <a href="/logout?username=<%= result[0].username %>">Log out</a>
  </body>
</html>
