<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><%= result[0].username %></p>
    <p><%= result[0].fname %></p>
    <p><%= result[0].gender %></p>
    <p><%= result[0].phone %></p>
    <a href="/changePass?username=<%= result[0].username %>"><button >Change Password</button></a>
  </body>
</html>
